* {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
}

.nav {
    align-items: center;
    background-color: #2b2b2b;
    color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    padding: .5em 1em;
}

.nav-links {
    display: flex;
    align-items: center;
    gap: 2em;
    list-style: none;
}

.nav-links a  {
    color: lightgray;
    text-decoration: none;
}

.nav-links a.active {
    color: #FFFFFF;
}

.nav-links button.btn {
    background-color: #17A2B8;
    border: 2px solid #000000;
    box-shadow: 3px 3px 0px 0px rgba(0,0,0,1);
    color: #FFFFFF;
    padding: .5em 1em;
}